<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guat.mynewsapp.mapper.CommentMapper">

    <!-- 查询一级评论，附带子评论数量childCount -->
    <select id="getCommentByNewsId" resultType="com.guat.mynewsapp.entity.Comment">
        SELECT
            c.id,
            c.news_id,
            c.user_id,
            c.parent_id,
            c.to_user_id,
            c.content,
            c.status,
            c.create_time,
            u.username,
            (SELECT COUNT(1) FROM comment child WHERE child.root_comment_id = c.id AND child.status=1) AS children
        FROM comment c
                 LEFT JOIN user u ON c.user_id = u.id
        WHERE c.news_id = #{newsId} AND c.parent_id = 0 AND c.status = 1
        ORDER BY c.create_time DESC
            LIMIT #{pageNum}, #{pageSize}
    </select>
    <!-- 统计一级评论总数 -->
    <select id="countRootComment" resultType="java.lang.Long">
        SELECT COUNT(1) FROM comment WHERE news_id = #{newsId} AND parent_id = 0 AND status = 1
    </select>


    <!-- 查询子评论 -->
    <select id="getChildComment" resultType="com.guat.mynewsapp.entity.Comment">
        SELECT
            c.id,
            c.news_id,
            c.user_id,
            c.parent_id,
            c.to_user_id,
            c.content,
            c.status,
            c.root_comment_id,
            c.create_time,
            u.username,
            tu.username as toUserName
        FROM comment c
                 LEFT JOIN user u ON c.user_id = u.id
                 LEFT JOIN user tu ON c.to_user_id = tu.id
        WHERE c.news_id = #{newsId} AND c.root_comment_id = #{rootCommentId} AND c.status = 1
        ORDER BY c.create_time
            LIMIT #{pageNum}, #{pageSize}
    </select>
    <!-- 统计子评论总数 -->
    <select id="countChildComment" resultType="java.lang.Long">
        SELECT COUNT(1) FROM comment WHERE news_id = #{newsId} AND root_comment_id = #{rootCommentId} AND status = 1
    </select>



<!--    点击一条评论，获取那条评论的ID，用来获取父评论的rootCommentId，来设置新增的评论是哪条评论的子评论-->
    <select id="selectById" resultType="com.guat.mynewsapp.entity.Comment">
        SELECT * FROM comment WHERE id = #{id}
    </select>

<!--    发表评论-->
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment(news_id,user_id,parent_id,to_user_id,content,status,create_time,update_time,root_comment_id)
        VALUES(#{newsId},#{userId},#{parentId},#{toUserId},#{content},#{status},#{createTime},#{updateTime},#{rootCommentId})
    </insert>

<!--    删除评论-->
    <update id="deleteComment">
        UPDATE comment SET status=0 WHERE id=#{id} AND user_id=#{userId}
    </update>



<!--    评论点赞/取消点赞-->
    <update id="updateLikeCount">
        UPDATE comment
        SET like_count = COALESCE(like_count, 0) + #{delta}, update_time = NOW()
        WHERE id = #{id}
    </update>





</mapper>